@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply my-3 flex w-full cursor-pointer items-center justify-center rounded-xl border-4 border-solid p-4 text-2xl shadow-lg duration-200 ease-out;
  }

  .add {
    @apply hover:after:content-['++'];
  }

  .remove {
    @apply hover:after:content-['âŒ'];
  }

  .color {
    @apply relative flex w-32 items-center justify-center rounded-xl  border-4 border-none py-8 text-2xl duration-200 ease-out;
  }

  .map {
    @apply grid w-auto grid-cols-16 grid-rows-16 gap-1 bg-gray-200 p-1 shadow-xl;
  }

  .cell {
    @apply relative flex h-11 w-11 items-center justify-center;
  }

  .cell > .direction {
    position: absolute;
    z-index: 2;
  }
}

@font-face {
  font-family: regular;
  src: url("/fonts/MouseMemoirs.ttf") format("truetype");
}

@font-face {
  font-family: emoji;
  src: url("/fonts/TwemojiMozilla.ttf") format("truetype");
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLOR PALETTE */

  --default-background: #fff3d6;
  --primary: #f6fafd;

  --dark: #676778;
  --danger: #ff3e00;

  background-color: var(--primary);
}

* {
  font-family: regular;
}

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e6e6e6;
}

/* CARDS */

.slots {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slot {
  width: 48px;
  height: 24px;
  background-color: var(--primary);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL */

.modal {
  position: relative;
  width: 75vw;
  height: 75vh;
  background-color: var(--primary);
}

.modal-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.24);
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.modal-close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.content {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.component {
  width: 50%;
}

.modal h4 {
  font-size: 2rem;
}

.modal p {
  font-size: 1.5rem;
}

.gif {
  min-width: 20%;
  min-height: 20%;
  background-color: pink;
}

kbd {
  background-color: #eee;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.2em 0.5em;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  color: #555;
}

/* UTILS */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
