@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn,
  .input,
  .select,
  .label-text {
    @apply text-lg;
  }

  .info {
    @apply cursor-help text-center text-lg duration-200 ease-out hover:scale-150;
  }

  .add {
    @apply hover:after:content-['++'];
  }

  .remove {
    @apply hover:after:content-['âŒ'];
  }

  .color {
    @apply relative flex w-32 items-center justify-center rounded-xl border-4 border-none py-8 text-2xl duration-200 ease-out;
  }

  .map {
    @apply grid w-auto grid-cols-12 grid-rows-12 gap-1;
  }

  .cell {
    @apply relative flex h-14 w-14 items-center justify-center rounded bg-base-300;
  }

  .aside {
    @apply z-10 h-[716px] w-80 overflow-y-auto rounded bg-base-200 p-8 pt-0;
  }

  .cell > .direction {
    position: absolute;
    z-index: 2;
  }
}

@font-face {
  font-family: regular;
  src: url("/fonts/MouseMemoirs.ttf") format("truetype");
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLOR PALETTE */

  --primary: #f6fafd;

  background-color: var(--primary);
}

* {
  font-family: regular;
}

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e6e6e6;
}

/* CARDS */

.slots {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slot {
  width: 48px;
  height: 24px;
  background-color: var(--primary);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* UTILS */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
