@font-face {
  font-family: regular;
  src: url("/fonts/MouseMemoirs.ttf") format("truetype");
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* LAYOUT */
  --emoji-container-size: clamp(64px, 25%, 256px);
  --interactive-container-size: calc(100vw - var(--emoji-container-size));

  /* MAP */
  --cell-size: clamp(16px, 4vw, 48px);
  --cell: calc(var(--cell-size) - 0.2vw);
  --cell-gap: calc(var(--cell-size) - var(--cell));
  --cell-br: calc(var(--cell-size) / 2);
  --map-size: calc(var(--cell-size) * 16);

  /* COMPONENTS */
  --card-br: 5px;

  /* COLOR PALETTE */

  --default-background: antiquewhite;
  --primary: #f6fafd;
  --secondary: #40b3ff;

  --dark: #676778;
  --danger: #ff3e00;

  --inverted: var(--dark);
  background-color: var(--primary);
}

* {
  font-family: regular;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* MAP */

.map {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: var(--map-size);
  height: var(--map-size);
  gap: var(--cell-gap);
  border: 5px solid black;
}

.map > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--cell);
  height: var(--cell);
  background-color: var(--default-background);
}

.map > div > .direction {
  position: absolute;
  z-index: 100;
}

/* CARDS */

.slot {
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--primary);
  border: 2px solid black;
}

/* UTILS */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
