@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .info {
    @apply cursor-help text-center text-lg duration-200 ease-out hover:scale-150;
  }

  .add {
    @apply hover:after:content-['++'];
  }

  .remove {
    @apply hover:after:content-['❌'];
  }

  .color {
    @apply relative flex w-32 items-center justify-center rounded-xl  border-4 border-none py-8 text-2xl duration-200 ease-out;
  }

  .map {
    @apply grid w-auto grid-cols-16 grid-rows-16 gap-1 p-1 shadow-xl;
  }

  .cell {
    @apply relative flex h-4 w-4 items-center justify-center bg-base-300 sm:h-6 sm:w-6 md:h-8 md:w-8 lg:h-10 lg:w-10 xl:h-12 xl:w-12;
  }

  .cell > .direction {
    position: absolute;
    z-index: 2;
  }
}

@font-face {
  font-family: regular;
  src: url("/fonts/MouseMemoirs.ttf") format("truetype");
}

@font-face {
  font-family: emoji;
  src: url("/fonts/TwemojiMozilla.ttf") format("truetype");
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLOR PALETTE */

  --default-background: #cfcfcf;
  --primary: #f6fafd;

  background-color: var(--primary);
}

* {
  font-family: regular;
}

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e6e6e6;
}

/* CARDS */

.slots {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slot {
  width: 48px;
  height: 24px;
  background-color: var(--primary);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* UTILS */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
